#pip install "fastapi[standard]"
#fastapi[standard]
#Successfully installed argon2-cffi-25.1.0 argon2-cffi-bindings-25.1.0 pwdlib-0.3.0
#PyMySQL
# --- usando la version ---
fastapi[standard]==0.128.0
pwdlib[argon2] == 0.3.0
PyMySQL==1.1.2
sqlmodel==0.0.33
python-jose==3.5.0
cryptography==46.0.5